

{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="mb-3 ">
    <h2>Welcome!</h2>
    <p class="">This is <b><u>Library Record System</u></b>, and it allows you to view library books, issue or return books. It also allow you to see the history of books issued/submitted with date and time. This a an attempt of mine to put all that I have learned into one project. I have used html, javascript, bootstrap, css, sqlite3, python, flask and other things. I hope you like it.</p>
    </div>
    <div class="mb-3">
        <a href="/about"><img src="../static/book.jpeg" class="border img-fluid home-img" alt="book image" title="homepage_image"></a>
    </div>
{% endblock %}
