{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    {% if success == 1 %}
        <div class="mb-3">
            <p> SUCCESSFUL!! </p>
        </div>
    {% endif %}
    <table class= "table_style">
        <tr>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Price</th>
            <th>TOTAL</th>
        </tr>
    {% for row in data %}
        <tr> <td>{{ row.symbol }}</td> <td>{{ row.shares }}</td> <td>{{ row.price }}</td> <td>{{ row.total }}</td></tr>
    {% endfor %}
    </table>
    <b>Cash</b> {{ cash }}
    <b>TOTAL</b> {{ total }}
{% endblock %}
